@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Zen Kurenaido', sans-serif;
}
.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px;
}
.game {
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 560px;
}
.game img {
	width: 70px;
	height: 70px;
}
.score-board {
	margin-bottom: 15px;
}
.score-board h2 {
	font-size: 38px;
	text-align: center;
}
.score-board h3 {
	font-size: 34px;
	text-align: center;
}
